* {
    margin: 0;
    border: 0;
    padding: 0;
}

body{
    background-color: rgb(161, 209, 231);
    width: 100%;
}

img{
    height: auto;
    width: 400px;
    float: left;
    object-fit: cover;
    margin: 50px;
    border-radius: 40px;
}
h1{
    font-size: 40px;
    color: #0d1013;
    margin: 60px;
    margin-left: 750px;
}
h2{
    font-size: 30px;
    color: #0a334d;
    margin: 40px;
    margin-left: 500px;
}
mark{
    background-color: #bfcbd3
}

.num1{
    text-align: center;
    font-size: 40px;
    margin: 20px;
    margin-left: 60px;
}

.sign{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 20px;
}

.num2{
    text-align: center;
    font-size: 40px;
    margin: 10px;
}

.equal{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 20px;
}

.sum{
    text-align: center;
    font-size: 40px;
    margin: 10px;
}

input[type=text]{
   
    width: 100px;
    border-style: none;
}

.calculate{
    text-align: center;
    font-size: 30px;
    margin: 20px;
    margin-left: 170px;
    background-color: rgb(5, 34, 90);
    color:rgb(201, 228, 228);
}

.next{
    text-align: center;
    font-size: 30px;
    margin: 20px;
    background-color:   rgb(5, 34, 90);
    color:rgb(201, 228, 228);
}

#result{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 20px;
    margin-left: 50px;
}

@media screen and (max-width: 1200px){
    img{
        float: none;
    }
    .two-col{
        justify-content: center;
        align-items: center;
        margin: 0px;
        margin-bottom: 50px;
    }
    h1{
        margin-left: 200px;
    }
    h2{
        margin-left: 50px;
    }

    #result{
        margin-left: 0px;
    }
   
} 
@media screen and (max-width: 600px){
    img{
        float: none;
    }
    .two-col{
        justify-content: center;
        align-items: center;
        margin: 0px;
        margin-bottom: 50px;
    }
    h1{
        margin-left: 200px;
    }
    h2{
        margin-left: 50px;
    }

    #result{
        margin-left: 0px;
    }
   
} 